<main>
  <h1>Human Ressources Managment System</h1>
  <app-header></app-header>
  <hr>
  <section>
    <router-outlet></router-outlet>
  </section>
  <!-- <app-file-upload label="upload-profile" accept="image/jpeg,image/png"></app-file-upload> -->
  <!--  <app-some-component></app-some-component> -->
 <!--  @defer(on viewport){ -->
 <!-- @defer(on viewport; prefetch on timer(2s)){
    <app-footer></app-footer>
  } @placeholder {
    <div>footer</div>
  } @loading {
    <div>Loading ...</div>
  } @error {
    <div>Occooreu um erro a carregar o fooster</div>
  } -->
  <app-on-push></app-on-push>
</main>
